<div class="post-content">
  {% match post.gallery %}
    {% when Some with (gallery) %}{% include "partials/gallery.html" %}
    {% when None %}
  {% endmatch %}
  {% match post.image_url %}
    {% when Some with (image_url) %}
      <a class="post-media-link" href="{{ image_url }}">
        {% if post.inline_image %}<img class="post-media" src="{{ image_url }}" alt="" decoding="async">{% else %}View image{% endif %}
      </a>
    {% when None %}
  {% endmatch %}
  {% match post.item.video %}
    {% when Some with (video) %}{% include "partials/video.html" %}
    {% when None %}
  {% endmatch %}
  {% if post.show_selftext %}
    <div class="post-copy rich-text">{{ post.selftext_html|safe }}</div>
  {% endif %}
</div>
